// 变量
$sideWidth= 180px
$border= 1px solid #EBEEF5
$animateFunc=cubic-bezier(0.23, 1, 0.32, 1)
$mostSpace= 40px
$moreSpace= 30px
$normalSpace= 20px
$smallSpace= 15px
$lessSpace= 10px
$miniSpace= 5px
$navHeight= 60px
$largeFont= 18px
$moreFont= 16px
$normalFont= 14px
$lessFont= 13px
$miniFont= 12px
$mainColorTone= #373552
$strongTextColor= #2E3242
$firstTextColor= #525975
$secondTextColor= #9094A3
$weakeningTextColor= #D3D6E0
$stressLineColor= #DCDFE6
$ordinaryLineColor= #E4E7ED
$weakeningLineColor= #EBEEF5
$normalBackColor= #F6F7FB
$successColor= #67c23a
$dangerColor= #F56c6c
$warningColor= #FFA116
$buttonColor= #8C6CF5
$linkColor= #20A0FF
$userBackground= #C0DBF0
$tipZ= 9999
