<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editor</title>
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% for (var i in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
    <% } %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no"/>
</head>
<body>
<div id="app"></div>
<script>
  window.inApp = <%= htmlWebpackPlugin.options.inApp %>;
//  window.inApp = true;
</script>
<% for (var i in htmlWebpackPlugin.files.js) { %>
<script src="<%= htmlWebpackPlugin.files.js[i] %>" charset="utf-8"></script>
<% } %>
</body>
</html>
